*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: column;
    height:300vh;
    margin-top: 50px;
    margin-left: 40px;
    background-color:#8D98AA;
   
}

.container{
    width: 1000px;
    height: 344px;
    display: flex;
    border-radius: 24px;
    background: #FFF;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
    
}

.leftside{
    width:45%;
    height:100%;
}
.rightside{
    width:55%;
    height:100%;
    display:flex;
    flex-direction: column;
   
}

.bigimage{
    width:90%;
    height: 90%;
    margin-top: 16px;
    margin-left: 16px;
}

h3{
    color: #284B80;
    line-height: 120%;
    text-align: left;
    margin-top: 16px;
    font-size: 32px;
}

p{
    color: #8D98AA;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;


}

.rightsidecontent1{
height:70%;

 }

.rightsidecontent2{
height:39%;
display:flex;
flex-direction: row;
position: relative;
}

.smallimage{
height:63%;
}

.rightsidecontent2 h3{
    color: #284B80;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 6px;
    

 
}
.rightsidecontent2 p{
    color: #8D98AA;
    font-size: 19px;
    font-weight: 300; 
    width:100%;
    
}

.imagearea{
    margin-right:30px;
    margin-top: 12px;
    display:flex;
    flex-direction: row;
}

.shortcutimage{
    position: absolute;
    right:10px;
}

.Container2{
    width: 331px;
    height: 521px;
    margin-top: 60px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
    
   
}

.Uppersection{
width: 100%;
height: 57%;
}
.Lowersection{
width: 100%;
height: 43%;

}

.bigimage2{
    width:100%;
    height:93%;
    border-radius: 16px;
    padding-right: 10px; padding-left: 10px; padding-top: 10px;
   
} 


.paragraph1{
    color: #284B80;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 25px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.lowersectioncontent2{
height: 25%;
display: flex;


}

.contentsection h3{
    color: #284B80;
    font-size: 20px;
    font-weight: 600;
    line-height: 50%;
}
   
.contentsection p {
    color: #8D98AA;
    font-size: 18px;
    font-weight: 300;
    line-height: 50%;
 
}

.smallimage2{
height: 100%;
margin-left: 15px;
}


.contentsection{
height: 100%;
left: 80px;
margin-left: 18px;
}

.container3{
display:flex;
margin-top: 60px;
width:874px;
height:300.333px;
border-radius: 16px;
background: #FFF;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.left{
width: 437px;
height: 300.333px;
}

.right{
width: 437px;
height: 300.333px;
}

.leftsideimage{
height:100%;
width:100%;
border-radius: 16px;
padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;
}

.Headings{
margin-left: 16px;
}
.Headings h3{
color: #284B80;
font-size: 32px;
font-weight: 500;
}
.Headings h4{
color: #8D98AA;
font-size: 20px;
font-weight: 500;
}

.Algorithims{
    Display:flex;
    margin-top: 30px;
    margin-right: 15px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #F7F9FF;
    width:95%;
}
.Algorithims1 h5{
    color: #8D98AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;  
}
.Algorithims1 p{
    color: #284B80;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}
.Algorithims2 h5{
    color: #8D98AA;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.Algorithims2 p{
    color: #284B80;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.Algorithims3 h5{
    color: #8D98AA;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.Algorithims3 p{
    color: #284B80;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.buttonside{
    Display:flex;
    margin-top: 40px;
    margin-left: 13px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width:90%;
    height: 60.4px;
   
}
.button1{
    text-align: center;
    border-radius: 8px;
    background-color: #1DC6BB;
    color:white;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    width: 40%;
    padding-right: 12px; padding-left: 12px; padding-top: 12px; padding-bottom: 12px;
    
}
.button2{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #1DC6BB;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    width:40%;
    padding-right: 12px; padding-left: 12px; padding-top: 12px; padding-bottom: 12px;
}